/* LAYOUT ============================================================ */
body {
    display: flex;
    margin: 0px;
    padding: 0px;

    min-height: 100vh;
    width: 100%;

    flex-direction: column;

    font-family: 'geosans';
    font-size: 18px;
}

#topbar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 25px;
    width: 100%;
    background-color: #979DAC;
    color: #001233;
}
#topbar .topbar-item {
    display: flex;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    justify-content: flex-start;

    cursor: pointer;
}
#topbar .topbar-item:hover{
    background-color: #7D8597;
}

#content {
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: #e2e4e9;
}

#bottombar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 45px;
    width: 100%;
    background-color: #979DAC;
}
.bottombar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    cursor: pointer;
}
.bottombar-item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    flex: 1;
    border-top: 4px solid transparent;
    color: #001233;
}
.bottombar-item-inner:hover{
    background-color: #7D8597;
}
.bottombar-item input[type="radio"] {
    display: none;
}
.bottombar-item input[type="radio"]:checked + .bottombar-item-inner {
    border-top-color: #0466C8;
}


/* WINDOWS =========================================================== */
.content-window {
    display: none;
    /* Init with height=0, set to #content.height() by init() */
    height: 0px;
    overflow: none;
}

.content-window-topbar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 50px;
    width: 100%;
    background-color: #979DAC;
    color: #001233;
}
.content-window-topbar .topbar-item {
    display: flex;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    justify-content: flex-start;

    cursor: pointer;
}
.content-window-topbar .topbar-item:hover{
    background-color: #7D8597;
}


.table-container {
    height: 90%;
    overflow: auto;
}
table {
    margin: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
table tr {
    height: 30px;
}
table th,
table td {
    min-width: 100px;
    border: 1px solid black;
}
table th {
    justify-content: center;
    background-color: #81bdfd;
}
table td[dtype="string"] {
    text-align: left;
}
table td[dtype="number"],
table td[dtype="date"] {
    text-align: right;
}
table td:focus {
    border-color: #0466C8;
    box-shadow: 0px 0px 10px #81bdfd;
}



/* WINDOW: DATA ====================================================== */

/* WINDOW: STRUCTURE ================================================= */
#data-table {
    margin: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
