/* FONTS ================================================== */
@font-face {
    font-family: 'mononoki';
    src: url('/static/fonts/mononoki/mononoki-Regular Nerd Font Complete.ttf');
}
@font-face {
    font-family: 'mononoki';
    src: url('/static/fonts/mononoki/mononoki Bold Nerd Font Complete.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'geosans';
    src: url('/static/fonts/geo-sans-light/GeosansLight.ttf');
}
@font-face {
    font-family: 'geosans';
    font-style: italic;
    src: url('/static/fonts/geo-sans-light/GeosansLight-Oblique.ttf');
}
