{% extends 'base.html' %}

{% load static %}
{% block body %}

<body onload="init()">
    <link rel="stylesheet" href="{{cssUrl}}/desktop/desktop.css">

    <div id="topbar">
        <div class="topbar-item">
            File
        </div>
        <div class="topbar-item">
            Edit
        </div>
        <div class="topbar-item">
            View
        </div>
        <div class="topbar-item">
            Data
        </div>
        <div class="topbar-item">
            Transform
        </div>
        <div class="topbar-item">
            Analyze
        </div>
        <div class="topbar-item">
            Graphs
        </div>
        <div class="topbar-item">
            Utilities
        </div>
        <div class="topbar-item">
            Help
        </div>
        <!--<div class="topbar-item">
            Session ID: {{ session_id }}
        </div>
        <div class="topbar-item">
            Session Key: {{ session_key }}
        </div>-->
    </div>
    <div id="content">
        <div id="window-data" class="content-window">
            <div class="content-window-topbar">
                <div class="topbar-item"
                    onclick="dataWindowSwitchNamesLabels()">
                    Names
                    &#8703;
                    Labels
                </div>
            </div>
            <div class="table-container">
                <table id="data-table">
                    <!-- Filled by init() -->
                </table>
            </div>
        </div>
        <div id="window-structure" class="content-window">
            <table id="variable-table">
                <!-- Filled by init() -->
            </table>
        </div>
        <div id="window-syntax" class="content-window">
            syntax
        </div>
        <div id="window-output" class="content-window">
            output
        </div>
    </div>
    <div id="bottombar">
        <label for="bottombar-tab-data"
            class="bottombar-item">
            <input type="radio" name="bottombar-tabs"
                id="bottombar-tab-data"
                value="data"
                checked>
            <div class="bottombar-item-inner">
                Daten
            </div>
        </label>
        <label for="bottombar-tab-structure"
            class="bottombar-item">
            <input type="radio" name="bottombar-tabs"
                id="bottombar-tab-structure"
                value="structure">
            <div class="bottombar-item-inner">
                Struktur
            </div>
        </label>
        <label for="bottombar-tab-syntax"
            class="bottombar-item">
            <input type="radio" name="bottombar-tabs"
                id="bottombar-tab-syntax"
                value="syntax">
            <div class="bottombar-item-inner">
                Syntax
            </div>
        </label>
        <label for="bottombar-tab-output"
            class="bottombar-item">
            <input type="radio" name="bottombar-tabs"
                id="bottombar-tab-output"
                value="output">
            <div class="bottombar-item-inner">
                Output
            </div>
        </label>
    </div>

    <script>
        let transport_sessionId = "{{ session_id }}"
        let transport_sessionKey = "{{ session_key }}"
    </script>

    <script src="/static/js/desktop/desktop.js"></script>

</body>

{% endblock body %}