{% extends 'base.html' %}

{% load static %}
{% block body %}

<body>
    <link rel="stylesheet" href="{{cssUrl}}/desktop/start.css">

    <h1>Start</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <p>
            <input id="data-file"
                name="data-file"
                type="file"
                accept=".csv,.sav"
                >
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

    <script src="/static/js/desktop/start.js"></script>

</body>

{% endblock body %}