{% load static %}
{% static 'css' as cssUrl %}
{% static 'js' as jsUrl %}
{% static 'img' as imgUrl %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--<link rel="shortcut icon" href="{{STATIC_URL}}/static/favicon.ico?version=0" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{cssUrl}}/base.css?version=0">
    <title>FOSOSS</title>
</head>

<script src="/static/js/lib/jquery-3.6.0.min.js"></script>

{% block body %}
no content...
{% endblock body %}
